rules_version = '2'; service firebase.storage { match /b/{bucket}/o { function signed(){return request.auth!=null} function image(){return request.resource.size < 5*1024*1024 && request.resource.contentType.matches('image/(jpeg|png|webp)')} match /users/{uid}/profile/{file}{allow read:if true;allow write:if signed()&&request.auth.uid==uid&&image();}match /merchants/{uid}/{folder}/{file}{allow read:if true;allow write:if signed()&&request.auth.uid==uid&&image();}}}
